body{
    background-color: rgb(212, 220, 229);
}

header{
    background-color: #1b3c84;
    color: white;
    line-height: 60px;
    text-align: center;
    float: right;
    margin-right: 0;
    width: 40%;
}

footer{
    background-color: #1b3c84;
    color: lightgray;
    line-height: 20px;
    font-size: 10px;
    text-align: center;

}
footer a{
    color: lightgray;
    font-size: 12px;
    text-decoration: none;
}
