.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  background: #4f6d76;
  height: 60px;
  transition: height 0.3s ease; /* 平滑过渡效果 */
  justify-content: space-between; /* 左右两端对齐 */
}
.navbar-links {
  display: flex;
  list-style: none;
}
.navbar-toggle {
  font-size: 40px;
  color: white;
  display: none; /* 默认隐藏折叠按钮 */
  cursor: pointer;
  height: 60px;
  background-color: #4f6d76;
}
.navbar-links li{
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
}


nav {
    background-color: #112b61;
}

nav ul a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}


/* 窄屏样式 */
@media (max-width: 1450px) {
  .navbar-toggle {
    display: block; /* 显示折叠按钮 */
    width: 10%;
  }
  .navbar-links {
    display: none; /* 隐藏导航链接 */
  }
  .navbar.collapsed .navbar-links {
    background-color: rgba(81, 73, 109, 0.6);
    display: block; /* 展开时显示链接 */
    position: absolute;
    font-size: 25px;
    top: 7%;
    right: 0;
    height: 100;
    width: 150px;
    text-align: left;
    margin-top: 5px;
  }
}

.underline {
    text-decoration: underline;
    text-decoration-color: rgb(244, 186, 115);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px; /* 固定的下划线偏移量 */
  }
.underline a{
    color:rgb(244, 186, 115);
}

.glow_text {
  transition: color 0.5s ease-in-out; /* 平滑过渡效果 */
}

        /* 当鼠标悬停在文字上时应用的样式 */
.glow_text:hover {
    /* text-shadow: X-offset Y-offset Blur-radius Color; */
    /* X-offset 和 Y-offset 通常设为 0，让发光在文字周围 */
    /* Blur-radius 控制发光的模糊程度，越大越模糊 */
    /* Color 是发光的颜色 */
    color: rgb(244, 186, 115);
    text-decoration: underline;
    text-decoration-color: rgb(244, 186, 115); /* 固定的下划线颜色 */
    text-decoration-thickness: 2px;
    text-underline-offset: 8px; /* 固定的下划线偏移量 */
    /* 例如，蓝色发光: text-shadow: 0 0 10px #00aaff, 0 0 20px #00aaff; */
}

