.navbar {
  display: flex;
  background: #4f6d76;
  height: 60px;
  transition: height 0.3s ease; /* 平滑过渡效果 */
  justify-content: space-between; /* 左右两端对齐 */
}
.navbar-links {
  display: flex;
  list-style: none;
}
.navbar-toggle {
  display: none; /* 默认隐藏折叠按钮 */
  cursor: pointer;
  height: 60px;
  background-color: #4f6d76;
}
.navbar-links li{
    margin-right: 10px;
    display: inline-block;
}


nav {
    background-color: #112b61;
}

nav ul a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}


/* 窄屏样式 */
@media (max-width: 700px) {
  .navbar-toggle {
    display: block; /* 显示折叠按钮 */
    width: 10%;
  }
  .navbar-links {
    display: none; /* 隐藏导航链接 */
  }
  .navbar.collapsed .navbar-links {
    background-color: rgb(81, 73, 109);
    display: block; /* 展开时显示链接 */
    position: absolute;
    top: 0;
    right: 10%;
    height: 20%;
    width: 100px;
  }
}

.underline {
    border-bottom: 5px solid rgb(167, 166, 238);
  }
.underline a{
    color:rgb(167, 166, 238);
}