.me{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    /* overflow: hidden; */
    height: 200vh;
}

.me .myphoto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.myphoto img{
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
}

.me .myinfo{
    /* background-color: green; */
    width: 100%;
    height: auto;
    margin-top: 15px;
    text-indent: 1em;
    /* text-align: center; */
}

.indexcontent{
   background-color: rgba(199, 225, 225, 0.3);
   display: inline-block;
   margin-left: 50px;
   padding-right: 0px;
   border-radius: 5ch;
   
}


/* @media(min-width: 468px) {
    .me{
        width: 300px;
        height: 200vh;
    }
       .me .myinfo{ 
       font-size: large;
       font-family:Arial, Helvetica, sans-serif
    }
}

@media(max-width: 468px) {
    .me{
        width: 200px;
        height: 200vh;
    }
    .me .myinfo{
       font-size: 12px; 
    }
}

@media(min-width: 1000px){
    .indexcontent{
        width: 65%;
        height: 200vh;
    }
    
}

@media(max-width: 1000px) {
    .indexcontent{
        width: 30%;
        height: 200vh;
    }
} */