.info{
    color: white;
    text-align: center;
    font-size: 40px;
}

.myinfo{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 30px;
}

.myinfo a{
    text-decoration: none;
    color: white;
}

.myinfo a:hover{
    text-decoration: underline;
    color: rgb(244, 186, 115);
}